/* Animation loader opacité */
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 0.75;
    z-index: 1;
  }
  50% {
    opacity: 0.5;
    z-index: 1;
  }
  75% {
    opacity: 0.25;
    z-index: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 0.75;
    z-index: 1;
  }
  50% {
    opacity: 0.5;
    z-index: 1;
  }
  75% {
    opacity: 0.25;
    z-index: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Animation loader arrière plan */
@-webkit-keyframes time {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes time {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* Animation coeur */
@-webkit-keyframes fullHeart {
  0% {
    opacity: 0;
  }
  25% {
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fullHeart {
  0% {
    opacity: 0;
  }
  25% {
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInCards {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInCards {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Animation rotation check menu */
@-webkit-keyframes checkRotate {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes checkRotate {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/* Animation apparition check */
@-webkit-keyframes apparition {
  0% {
    display: none;
    z-index: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    display: none;
    z-index: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation titre menu check */
@-webkit-keyframes menuBoxTitleToggle {
  0% {
    width: 90%;
  }
  100% {
    width: 70%;
  }
}

@keyframes menuBoxTitleToggle {
  0% {
    width: 90%;
  }
  100% {
    width: 70%;
  }
}
/* Animation prix menu check */
@-webkit-keyframes menuBoxPriceToggle {
  0% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

@keyframes menuBoxPriceToggle {
  0% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

p, h3, h4, a, li {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Shrikhand", sans-serif;
}

.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_img img {
  width: 270px;
  padding: 10px 0 0 0;
}
/* Mobile */
@media (max-width: 768px) {
  .logo img {
    margin-top: 10px;
    width: 160px;
  }
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header_menu_icon {
  font-size: 40px;
  margin-left: 40px;
}

.header_menu_icon i {
  color: black;
}

.header_menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header_menu_logo img {
  width: 270px;
}
/* Tablette */
@media (max-width: 1180px) {
  .header_menu {
    margin-top: 20px;
  }
  .header_menu_icon {
    margin-left: 30px;
    font-size: 20px;
  }
  .header_menu_logo img {
    width: 160px;
    padding-right: 30px;
  }
}

footer {
  background-color: #353535;
  height: 170px;
}

.footer_container {
  margin-top: 100px;
}

.footer_box {
  margin-left: 340px;
}

.footer_title {
  color: white;
}

.footer_title h2 {
  font-weight: 100;
  font-size: 18px;
  color: white;
  padding: 20px 0 0 25px;
}

.footer_liste {
  font-size: 15px;
  padding: 0 0 0 25px;
}

.footer_liste ul {
  padding: 0;
}

.footer_liste li {
  color: white;
  padding-bottom: 7px;
  font-weight: 400;
}

.footer_liste a {
  color: white;
}

.footer_liste i {
  font-size: 12px;
  padding-right: 10px;
}
/* Tablette */
@media (max-width: 1180px) {
  .footer_container {
    max-width: 1180px;
    margin: 100px auto;
  }
  .footer_box {
    margin-left: 0px;
  }
}
/* Animation loader arrière plan */
.loader_container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: time;
          animation-name: time;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader_box {
  height: 30px;
  width: 30px;
  background-color: #99e2d0;
  border-radius: 50%;
  -webkit-animation: loader 500ms infinite alternate;
          animation: loader 500ms infinite alternate;
}
/* Animation loader élément */
.loader_box--1 {
  -webkit-animation-delay: 125ms;
          animation-delay: 125ms;
}

.loader_box--2 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loader_box--3 {
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}

.loader_box--4 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.location_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 6px 10px -12px black;
          box-shadow: inset 0px 6px 10px -12px black;
  margin: 15px 0 0 0;
  height: 50px;
}

.location_container > * {
  margin: 0 15px 0 0;
  font-size: 18px;
}

.explorer_container {
  background-color: #f6f6f6;
  padding: 15px 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explorer_container > * {
  text-align: center;
}

.explorer_container h3 {
  font-size: 24px;
  font-weight: 1000;
  padding: 0 45px 0 45px;
  margin-bottom: 0;
}

.explorer_container p {
  font-size: 18px;
  font-weight: 250;
  padding: 0 20px 0 20px;
}

.explorer_container .explorer_btn {
  margin-top: 10px;
  background: linear-gradient(350deg, #9356dc 5%, #ff79da 95%);
  padding: 15px 23px 15px 23px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  color: white;
  -webkit-box-shadow: gray 0px 3px 8px;
          box-shadow: gray 0px 3px 8px;
  cursor: pointer;
}

.explorer_container .explorer_btn:hover {
  opacity: 0.9;
  -webkit-box-shadow: gray 1px 8px 8px;
          box-shadow: gray 1px 8px 8px;
}

.function_container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 1000;
}

.function_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.function_box_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin: 30px;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.function_box_card:hover {
  background-color: #f5edff;
  cursor: default;
}

.function_box_card:hover i {
  color: #9356dc;
}

.function_box_card_number {
  position: relative;
  left: -20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: #9356dc;
}

.function_box_card i {
  font-size: 19px;
  margin-right: 20px;
  padding-left: 5px;
  color: grey;
}

.function_box_card p {
  font-size: 15px;
  margin: 15px;
}

.restaurants_container {
  background-color: #f6f6f6;
  margin-top: 50px;
  margin-bottom: -100px;
  padding-bottom: 50px;
}

.restaurants_container h3 {
  font-size: 24px;
  font-weight: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}

.restaurants_card {
  background-color: white;
  border-radius: 20px;
  width: 650px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}

.restaurants_container h3 {
  padding: 50px 0 5px 20px;
  text-align: start;
}

.restaurants_card {
  margin: 0 20px 20px 20px;
}

.restaurants_card_img {
  position: relative;
}

.restaurants_card_img img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurants_card_img_new {
  background-color: #99e2d0;
  color: #2a8766;
  font-size: 14px;
  border-radius: 2px;
  z-index: 1;
  position: absolute;
  text-align: center;
  padding: 5px 10px 5px 10px;
  top: 7%;
  left: 86%;
}

.restaurants_card_img_new p {
  margin: 0;
}

.restaurants_card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_card_description_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants_card_description h4 {
  margin: 10px 0 0 10px;
  font-size: 18px;
}

.restaurants_card_description p {
  margin: 5px 0 20px 10px;
  font-weight: 300;
}

.restaurants_card_description_heart {
  font-size: 27px;
  margin-right: 16px;
}

.restaurants_card_description_heart .far {
  position: relative;
  font-weight: lighter;
}
/* Animation coeur */
.restaurants_card_description_heart .far::after {
  position: absolute;
  left: 0%;
  content: '\f004';
  background: #FF79DA;
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.restaurants_card_description_heart .far:hover::after {
  -webkit-animation: fullHeart 0.3s ease-in-out;
          animation: fullHeart 0.3s ease-in-out;
  opacity: 1;
}

/* MODE MOBILE */
@media (max-width: 450px) {
  .location_container > * {
    font-size: 16px;
  }
  .function_container h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 40px 0 0 20px;
    text-align: start;
  }
  .function_container .function_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .function_container .function_box_card {
    margin: 0px 10px 30px 20px;
  }
  .function_box {
    margin: 30px auto 5px auto;
  }
  .restaurants_container h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 40px 0 20px 20px;
    text-align: start;
  }
  .restaurants_box {
    row-gap: 0;
  }
  .restaurants_card_img_new {
    left: 75%;
  }
}
/* MOBILE */
@media (max-width: 850px) {
  .function_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .function_box_card {
    margin: 0px 10px 30px 20px;
  }
  .function_box {
    margin: 30px auto 5px auto;
  }
}

.menu_img img {
  width: 100%;
  max-width: 100%;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 15px;
  background-position: center;
}

.menu_container {
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  max-width: 1180px;
  width: 100%;
  margin: -50px auto -100px auto;
  padding-bottom: 50px;
}

.menu_header_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px 0 16px;
}

.menu_header_description_tittle {
  font-size: 18px;
}

.menu_header_description_tittle h2 {
  font-weight: 100;
}

.menu_header_description_heart {
  font-size: 26px;
}

.menu_header_description_heart .far {
  position: relative;
}
/* Animation coeur */
.menu_header_description_heart .far::after {
  position: absolute;
  left: 0%;
  content: '\f004';
  background: #FF79DA;
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.menu_header_description_heart .far:hover::after {
  -webkit-animation: fullHeart 0.3s ease-in-out;
          animation: fullHeart 0.3s ease-in-out;
  opacity: 1;
}

.menu_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  padding: 0 16px 0 16px;
  max-width: 100%;
}

.menu_category_tittle {
  font-size: 17px;
  font-weight: 300;
  margin-top: 15px;
}

.menu_category_tittle p {
  margin: 0;
}

.menu_category_tittle_line {
  background-color: #99e2d0;
  height: 3px;
  width: 40px;
  margin-top: 5px;
}

.menu_box {
  position: relative;
  background-color: white;
  width: 350px;
  border-radius: 12px;
  margin: 10px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: fadeInCards 1s ease-in-out;
          animation: fadeInCards 1s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu_box:hover .menu_box_check {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_box:hover i {
  -webkit-animation: checkRotate 0.5s ease-in-out;
          animation: checkRotate 0.5s ease-in-out;
}

.menu_box:hover .menu_box_tittle {
  -webkit-animation: menuBoxTitleToggle 0.5s ease-in-out;
          animation: menuBoxTitleToggle 0.5s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}

.menu_box:hover .menu_box_price {
  -webkit-animation: menuBoxPriceToggle 0.5s ease-in-out;
          animation: menuBoxPriceToggle 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 30%;
}

.menu_box_tittle {
  padding: 10px;
  width: 90%;
}

.menu_box_tittle h4 {
  margin: 0;
  padding-bottom: 6px;
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_box_tittle p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_box_price {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_box_price p {
  font-size: 15px;
  font-weight: bold;
  padding-right: 10px;
}
/* Animation menu check */
.menu_box .menu_box_check {
  position: absolute;
  right: -20%;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: apparition 0.4s ease-in-out;
          animation: apparition 0.4s ease-in-out;
}

.menu_box .menu_box_check i {
  font-size: 16px;
  color: #99e2d0;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
}

.menu_card_plats {
  -webkit-animation: fadeInCards 1.4s ease-in-out;
          animation: fadeInCards 1.4s ease-in-out;
}

.menu_card_desserts {
  -webkit-animation: fadeInCards 1.4s ease-in-out;
          animation: fadeInCards 1.4s ease-in-out;
}

.btn_cmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.commande_btn {
  background: linear-gradient(350deg, #9356dc 5%, #ff79da 95%);
  padding: 15px 23px 15px 23px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  color: white;
  -webkit-box-shadow: gray 0px 3px 8px;
          box-shadow: gray 0px 3px 8px;
  padding: 15px 40px 15px 40px;
}

.commande_btn:hover {
  opacity: 0.9;
  -webkit-box-shadow: gray 1px 8px 8px;
          box-shadow: gray 1px 8px 8px;
}

@media (max-width: 400px) {
  .menu_general {
    display: -ms-grid;
    display: grid;
  }
  .menu_img img {
    height: 272px;
  }
}

@media (min-width: 400px) and (max-width: 1190px) {
  .menu_general {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_box {
    width: 450px;
  }
  .menu_header_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_header_description_tittle h2 {
    padding-right: 150px;
  }
}
/*# sourceMappingURL=main.css.map */