.logo {
    width: 100%;
    @include flexcenter;
    &_img {
        @include flexcenter;
        img {
            width: 270px;
            padding: 10px 0 0 0;
            
        }
    }

}
@media (max-width: 768px){
    .logo{
       
        img {
            margin-top: 10px;
            width: 160px;
        }
    }

}
    

