.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
    
    &_icon {
        font-size: 40px;
        margin-left: 40px;
        i {
            color: black;
        }
        
        
    }
    &_logo {
        @include flexcenter;
        width: 100%;

        img {
            width: 270px;
            
        }
        
    }
}
@media (max-width: 1180px) {
    .header_menu {
        margin-top: 20px;
    
    &_icon {
        margin-left: 30px;
        font-size: 20px;        
    }
    &_logo {
        img {
            width: 160px;
            padding-right: 30px;
        }
    }
}
}

