
.loader_container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 1.7s;
  animation-fill-mode: both;
  animation-name: time;
}

.loader {
  display: flex;
  justify-content: space-between;
  
  &_box 
  {
    
    height: 30px;
    width: 30px; 
    background-color: $color_tertiary;
    border-radius: 50%;
    animation: loader $anim-dur infinite alternate;
    
    
    @for $i from 1 through $num-box {
      &--#{$i} {
          animation-delay: $anim-delay * $i;
       }
    }
   
  }
} 

.location_container {
  @include flexcenter;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 6px 10px -12px black;
  margin: 15px 0 0 0;
  height: 50px;
  & > * {
    margin: 0 15px 0 0;
    font-size: 18px;
  }
} 

.explorer_container {
  background-color: #f6f6f6;
  padding: 15px 0 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    text-align: center;
  }
  h3 {
    @include title_home;
    padding: 0 45px 0 45px;
    margin-bottom: 0;
  }
  p {
    font-size: 18px;
    font-weight: 250;
    padding: 0 20px 0 20px;
  }
  .explorer_btn {
    margin-top: 10px;
    @include style_btn;
    cursor: pointer;
  }
}

.function_container {
  h3 {
    @include title_home;
    margin: 20px auto 0 400px;
    
      
    
  }
}
.function_box {
  display: flex;
  justify-content: center;

  &_card {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin: 30px;
    width: 310px;
    padding: 10px;
    box-shadow: $shadow;
    &:hover {
      background-color: #f5edff;
      cursor: default;
    
      i {
        color: $color_primary;
      }
    }
    
    &_number {
      position: relative;
      left: -20px;
      color: white;
      @include flexcenter;
      width: 25px;
      height: 25px;
      border-radius: 20px;
      background: $color_primary;
    }

    i {
      font-size: 19px;
      margin-right: 20px;
      padding-left: 5px;
      color: grey;
    }
    p {
      font-size: 15px;
      margin: 15px;
    }
  }
}

.restaurants_container {
  background-color: #f6f6f6;
  margin-top: 50px;
  margin-bottom: -100px;
  padding-bottom: 50px;
  h3 {
    @include title_home;
    margin: 20px auto 20px 250px;
  }
}
.restaurants_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
}

.restaurants_card {
  background-color: white;
  border-radius: 20px;
  width: 650px;
  box-shadow: $shadow;
  color: black;
}
.restaurants_container {
  h3 {
    padding: 50px 0 5px 20px;
    text-align: start;
  }
}
.restaurants_card {
  margin: 0 20px 20px 20px;
}

.restaurants_card_img {
  position: relative;
  img {
    width: 100%;
    height: 180px;

   object-fit: cover;
    
    border-radius: 20px 20px 0 0;
  }
  &_new {
    background-color: #99e2d0;
    color: #2a8766;
    font-size: 14px;
    border-radius: 2px;
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 5px 10px 5px 10px;
    top: 7%;
    left: 86%;
    p {
      margin: 0;
    }
  }
}

.restaurants_card_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_tittle {
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin: 10px 0 0 10px;
    font-size: 18px;
  }
  p {
    margin: 5px 0 20px 10px;
    font-weight: 300;
    
  }
}


.restaurants_card_description_heart {
  font-size: 27px;
  margin-right: 16px;
  .far {
      @include heartAnimation;
      font-weight: lighter;
  }    
}

      
/* MODE MOBILE */
@media (max-width: 1180px) {
  .location_container {
    & > * {
      font-size: 16px;
    }
  }
  .function_container {
    h3 {
      margin: 40px 0 0 20px;
      text-align: start;
    }
    .function_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_card {
        margin: 0px 10px 30px 20px;
      }
    }
  }

  .function_box {
    margin: 30px auto 5px auto;
  }
  .restaurants_container {
    h3 {
      margin: 30px 0 20px 10px;
      text-align: start;
    }
  }
  .restaurants_box {
    row-gap: 0;
  }
  .restaurants_card_img_new {
    left: 75%;
  }
}
