
@keyframes loader {

    0% {
        opacity: 1;
        z-index: 1;
    }

    25% {
       opacity: 0.75;
        z-index: 1;
    }
    
    50% {
        opacity: 0.5;
        z-index: 1;
    }

    75% {
        opacity: 0.25;
        z-index: 1;
    }

   
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes time {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fullHeart {
    0% {
        opacity: 0;
    }
    25% {
        transform-origin: left;
        opacity: 0.25;
    }
    50% {     
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInCards {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes checkRotate {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes apparition {
    0%{
        display: none;
        z-index: 0;
        opacity: 0;
        
      }
    
      100% {
          opacity: 1;

        
      }
}

@keyframes menuBoxTitleToggle {
    0% {
        width: 90%;
    }

    100% {
        width: 70%;
    }
}

@keyframes menuBoxPriceToggle {
    0% {
        width: 10%;
    }

    100% {
        width: 30%;
    }
}
