@keyframes heart_animation {
    from{
        transform: translateY(200px);
        color: $color_primary;
        opacity: 0;
    }
    to {
        transform: translateY(0);
        color: $color_primary;
        opacity: 1;
    }
}

@keyframes loader {

    0% {
        opacity: 1;
        z-index: 1;
    }

    25% {
       opacity: 0.75;
        z-index: 1;
    }
    
    50% {
        opacity: 0.5;
        z-index: 1;
    }

    75% {
        opacity: 0.25;
        z-index: 1;
    }

   
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes time {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 0;
    }
}

