
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin title_home {
    font-size: 24px;
    font-weight: 1000;
}

@mixin style_btn {
    background: $color_btn;
    padding: 15px 23px 15px 23px;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    color: white;
    box-shadow: gray 0px 3px 8px;
    
    &:hover {
        opacity: 0.9;
        box-shadow: gray 1px 8px 8px;
    
    }
}

@mixin heartAnimation {
    position: relative;
    &::after {
        position: absolute;
        left: 0%;
        content: '\f004';
        background: #FF79DA;
        background: -webkit-linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        background: linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        transition: 0.2s;
        opacity: 0; 
    }
    &:hover::after {
        animation: fullHeart 0.3s ease-in-out;
        opacity: 1;
    }
}

@mixin header_menu_img {
    
            width: 100%;
            max-width: 100%;
            max-height: 512px;
            object-fit: cover;
            margin-top: 15px;
            background-position: center;
            
        
    

}
