
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin title_home {
    font-size: 24px;
    font-weight: 1000;
}

@mixin style_btn {
    background: $color_btn;
    padding: 15px 23px 15px 23px;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    color: white;
    box-shadow: gray 0px 3px 8px;
    &:hover {
        opacity: 0.9;
        box-shadow: gray 1px 8px 8px;
    }


}

@mixin hover {
    &:hover {
        background-color: red;

    }
    i {
        color: blue;
    }
    
}